@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
   
    height: 100vh
}

.userInteraction {
  margin: 10px;
  display: flex;
  justify-content: center;
  color: antiquewhite;
}
.button {
  border-radius: 10px;
  padding: 10px;
  transition: all 500ms;
  margin: 10px;
  
}

.find {
  background-color: #545454;
}

.collect {
  background-color: rgb(10, 110, 76);
}
.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

line {
  stroke-width: 10px;
  stroke-linecap: round;
  fill: transparent;
}
